= render partial: 'products/header'
.content
  %h2 購入完了
  .any-box
    .any-box__any
      購入が完了しました！
    %hr
    %br
    .any-box__any
      ご購入いただき誠にありがとうございます。
      %br
      商品ご到着まで今しばらくお待ちください。
    .any-box__buy
      = link_to "トップページへ戻る", root_path