- if resource.errors.any?
  .alert
    - resource.errors.full_messages.each do |message|
      %li
        = message

-# - if flash[:error].present?
-#   .alert
-#     - flash[:error].each do |e|
-#       %li
-#         = e
